@import url("foundation-icons.css");

body{
width: 100%;
  background: #F0F0F0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	 font-family: 'Montserrat', sans-serif;
}
.logo {
background: url('../img/QT-DMS-engraved.png')center no-repeat;
background-size: cover;

}
@font-face{
	font-family: 'Montserrat';
	src:url('Montserrat-Regular.ttf');
}


/*login page*/
#login-pane{
width: 50%;
height: 300px;
background: white;
margin-left: 25%;
margin-top: 10%;
}

.logo-login {
	width: 65%;
	height: 100px;
	margin-top: 3%;
	margin-left: 20%;
}

#login-form {
	width: 50%;
	margin-left: 30%;
}

#login-form input[type="submit"]{
	margin-left: 35%;
}


/*Homepage Dashboard*/

.card-dashboard{
width: 80%;
min-width: 320px;
height: 250px;
margin-left: 10%;
}

#payroll .mdl-card__title {
	background: rgb(255, 87, 34);
	color: white;
}

#billing .mdl-card__title {
	background: rgb(76,175,80);
	color: white;

}

#logbook .mdl-card__title {
	background: rgb(63,81,181);
	color: white;

}

/*Module dashboard/functions*/



.submenu-module {
	background: rgb(55, 71, 79);
	margin: -7px;
	height: 50px;
	overflow: hidden;
	width: 110%;
	padding: 0px;
	
}


.page-title-menu{
color: white;
text-align: center;
margin: -10px;
padding-left: 20px;

}

.page-title-menu h4{
font-size: 35px;

}

.card-pages {
	width: 100%;
	height: 400px;
	overflow: scroll;
	margin-bottom: 10px;

}

.card-search {
	width: 100%;

}

.search-tab {
	margin-top: -15px;
}

.card-stack-pages {

}



.inner-content{
	padding: 10px;
}

.nav-pages {
	color: white;
	text-align: center;
	width: 80%;
	margin-left: 10%;

}


.nav-pages:hover{
	background: grey;

}

.submenu-nav {
	margin-top: 20px;
}

.col-left h4 {
	margin-top: -15px;
}

.navi-button-cards{
	
	margin-top: 150px;

}

.card-search {
	
	width: 100%;
	overflow: hidden;
}

.expand {
	background: rgba(0,0,0,0.8);
	position: fixed;
	left:-1%;
	top:0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	padding-top: 10%;
}

.card-close{
	display: none;
	position: fixed;
	right: 2%;
	top: 15%;
}

/*Search results*/

.tbl-long {
	
	max-height: 325px;
	overflow-y: scroll;
}