@import url("foundation-icons.css");

/*generic functions*/
body{
width: 100%;
  background: #F0F0F0;
  font-family: 'Montserrat', sans-serif;
  
}

h1, h2, h3, h4, h5, h6 {
	 font-family: 'Montserrat', sans-serif;
}
.logo {
background: url('../img/QT-DMS-engraved.png')center no-repeat;
background-size: cover;

}

a {
	text-decoration: none;
}
@font-face{
	font-family: 'Montserrat';
	src:url('Montserrat-Regular.ttf');
}

.hdr-main {
	background: rgb(33,150,243);
	z-index: 999;
}

.btn-float {
	position: fixed;
	bottom: 5%;
	right: 10%;
	z-index: 1000;
	color: green;
}

.block-display {
	display: block;
}
/*login page*/
#login-pane{
width: 50%;
height: 300px;
background: white;
margin-left: 25%;
margin-top: 10%;
}

.logo-login {
	width: 65%;
	height: 100px;
	margin-top: 3%;
	margin-left: 20%;
}

#login-form {
	width: 50%;
	margin-left: 30%;
}

#login-form input[type="submit"]{
	margin-left: 35%;
}


/*Homepage Dashboard*/

.card-dashboard{
width: 80%;
min-width: 320px;
height: 250px;
margin-left: 10%;
}

.card-dashboard .mdl-card__title{
	background: white;
	color: black;
}


#payroll .mdl-card__title {
	background: rgb(255, 87, 34);
	color: white;
}

#billing .mdl-card__title {
	background: rgb(76,175,80);
	color: white;

}

#logbook .mdl-card__title {
	background: rgb(63,81,181);
	color: white;

}

/*Module dashboard/functions*/
.loading {
	position: fixed;
	top: 40%;
	left: 50%;
	z-index: 1001;
	display: none;
}

/*submenu*/
.submenu-module {
	margin: -7px;
	height: 50px;
	overflow: hidden;
	width: 110%;
	padding: 0px;
	background: rgb(55, 71, 79); /*grey */
	position: fixed;
	top: 70px;
	left: -1px;
	z-index: 999;
}
.content-module {
	margin-top: 50px;
}
.nav-pages {
	color: white;
	text-align: left;
	width: 50px;
	float: left;
	overflow: hidden;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-top: -8px;
	height: 100%;
	transition: all 1s;
	border-right: solid 1px white;
}


.nav-pages-wrapper{
	width: 350px;
	float: left;
	font-size: 20pt;
	
}
.nav-pages .icon{
	font-size: 30pt;
	padding: 10px;

}
.nav-pages:hover{
	background: rgb(255, 87, 34);
	width: 350px;
	transition: all 1s;
	
}


.submenu-nav {
	margin-top: 20px;
}

.page-title-menu{
color: white;
text-align: center;
margin: -10px;
padding-left: 20px;

}

.page-title-menu h4{
font-size: 35px;

}

.content-tab {
	/*min-height: 70vh;*/
	display: none;
	transition: all 1s;
	height: cover;
}

#splash {
	display: block;
}



/*Pagination*/

#m1:target, #m2:target, #m3:target{
	background: rgb(82, 193, 6);
	width: 350px;
	transition: all 1s;
	
}


/**/

.expand {
	background: rgba(0,0,0,0.8);
	position: fixed;
	left:-1%;
	top:0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	padding-top: 10%;
}


/*Splash screen- dashboard on payroll*/

#splash {
	/*background: url('../img/QTSILOGO.png') no-repeat;*/
	background-position: center;
	background-size: 200px;
}

/*Search results*/

.tbl-long {
	
	max-height: 325px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*card layouts*/
.card-close{
	display: none;
	position: fixed;
	right: 2%;
	top: 15%;
}

.card-full {
	
	width: 100%;
	min-height: 0px;
	overflow: hidden;
	margin-bottom: 15px;
}

.card-nopadding{
	padding: 0px;
}

.card-nopadding *{
	margin: 0px;

}


/*card template header - custom */

.card-bullet{
	width: 75px;
	height: inherit;
	background: rgb(33,150,243);
	font-size: 30pt;
	float: left;
}

.card-bullet p {
	color:white;
	font-size: 50pt;
	margin-top: 30px;
	margin-left: 5px;
	position: absolute;
}

.card-header {
	width: 110%;
	min-height: 30px;
	background: rgb(33,150,243);
	color: white;
	font-size: 15pt;
	padding-top: 5px;
}
.card-content {
	width: calc(100% - 75px);
}
.card-content > *{
	width: 100%;
}

.mdl-card .mdl-button[type="submit"]{
	width: 100%;
	text-align: center;
}

.dashboard-fxn {
	width: 100%;
}

	/*text field change behavior on this kind of div ^^*/

	.card-full .mdl-textfield {
		padding-top: 0px;
		margin-top: 2%;
		width: 100%;
		
	}
	.card-full .mdl-textfield__label{
		text-align: center;

	}
/*Card containing scans*/
.card-pages {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	display: none;
	transition: all 1s;
}

.navi-button-cards {
	position: fixed;
}

.title-table {
	width: 100%;
	color: white;
	background: rgb(33,150,243);
	text-align: center;
}

/*Card of search results*/

.card-search {
	width: 100%;
}

/*Instant search results*/

.searchresults {
	width: 100%;
	height: auto;
	background: white;
	
}

.result {
	width: 100%;
	color: black;
	height: 20px;
	padding: 10px;
	border-bottom: solid black 2px;
}

.result:hover {
	
	background: grey;
	height: 20px;
	color: white;
}